
@import url('http://fonts.cdnfonts.com/css/amazon-ember');
.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 200;
    font-family: 'Amazon Ember', sans-serif;
}

.logo_img{
    cursor: pointer;
    height: 2rem;
    margin: 2rem;
    object-fit: contain;
    
}

.location{
    display: flex;
    align-items: center;
    color: white;
    margin-right: 1rem;
    font-family: 'Amazon Ember', sans-serif;
}

.location_items span{
    display: flex;
    align-items: center;
}


.location_deliver{
    font-size: 14px;
}

.location_country{
    font-size: 13px;

}

.search_option{
    display: flex;
    align-items: center;
    border-radius: 24px; 
}

.search_option input{
    height: 12px;
    padding: 10px;
    border: none;
    width: 65vw;
    border-radius: 3px 0px 0px 3px;
    
}

.search_icon{
    background: #cd9042;
    padding: 5px;
    height: 22px !important;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.search_icon:hover{
    background: #a56518;
}

.country_option{
    margin-left: 30px;
    display: flex;
    color: white;
    cursor: pointer;
}

.country_option img{
    height: 20px;
}

.info_section{
    color: white;
}

.info_section span{
    display: flex;
    margin-left: 20px;
}

.account_name{
    font-size: 14px;
}

.account_wallet{
    font-size: 13px;
}


.purchase_section{
    color: white;
}

.purchase_section span{
    display: flex;
    margin-left: 20px;
}

.recent{
    font-size: 14px;
}

.trans{
    font-size: 13px;
}

.pending_trans{
    color: white;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

